/* Footer Module Styles */
.site-footer {
    text-align: center;
    font-size: var(--text-xs);
    margin-top: var(--spacing-lg);
    padding: var(--spacing-sm) 0;
    border-top: 1px solid var(--color-primary);
}

.site-footer__content {
    margin: 0;
}

.site-footer__links {
    justify-content: center;
    align-items: center;
    margin-top: var(--spacing-xs);
}

.site-footer__link {
    color: var(--color-primary);
    transition: color var(--transition-standard);
}

.site-footer__link:hover {
    color: var(--color-secondary);
    text-decoration: none;
}

.site-meta {
    font-family: var(--font-monospace);
    background-color: var(--color-border-light);
    color: var(--color--gray);
    margin-top: var(--spacing-xs);
}

.site-meta__link {
    color: var(--color-secondary);
}

.site-meta__link a:hover {
    color: var(--color-black);
}
