/* Header Module Styles */
.site-header {
    text-align: center;
    margin-bottom: var(--spacing-lg);
    position: relative;
    padding-bottom: var(--spacing-sm);
}

.site-header__title {
    text-align: center;
    border-bottom: none;
    font-weight: normal;
    margin-bottom: 0;
}

.site-header__subtitle {
    text-align: center;
    font-weight: normal;
    margin-top: 0;
}

.site-header__link,
.site-header__link:hover{
    color: inherit;
    text-decoration: none;
}
